*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'roboto', sans-serif;
}

/*********************************************************/
/*********************HEADER SECTION*********************/
/*******************************************************/
#header-section{
    background-color: #1f2937;
    padding: 10px 10% 100px;
}

/**********************************/
/***********NAVIGATION************/
/********************************/
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 100px;
    /* border: 5px solid green; */
}

.nav-logo{
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    text-align: center;
}

.nav-links{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;
}

.nav-link-items{
    /* flex-grow: 0; 
    flex-shrink: 1; */
    
    text-decoration: none;
    color: white;
}

/***********************************/
/***************HERO***************/
/*********************************/
.hero-container{
    display: flex;
    /* border: 5px solid green; */
    gap: 25px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hero-items{
    flex: 1
}

.hero-img{
    max-width: 100%;
    max-height: 200px;
    align-self: center;
}

.hero-text-primary{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text-secondary{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero-btn{
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    border: none;
}

.hero-btn a{
    text-decoration: none;
    color: #f9faf8;
}

/*********************************************************/
/**********************INFO SECTION**********************/
/*******************************************************/

#info-section, #cta-section{
    background-color: #f9faf8;
    padding: 50px 10% 100px;
}

.info-h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 50px;
    align-content: center;
}

.card-item{
    max-width: 200px;
}

.card-item img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

/*********************************************************/
/*********************QUOTE SECTION**********************/
/*******************************************************/

#quote-section{
    background-color: #e5e7eb;
    padding: 50px 10% 100px;
}

.quote-container{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content:center ;
    align-items: center;
     
}

.quote-item{
    /* flex: 1; */
    max-width: 75%;
}
.quoted-person{
    display: flex;
    justify-content: end;
}

blockquote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

/*********************************************************/
/**********************CTA SECTION***********************/
/*******************************************************/

.cta-container{
    display: flex;
    /* border: 5px solid green; */
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
}

  
.cta-primary{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.cta-btn{
    background-color: #3882f6;
    border-radius: 10px;
    padding:10px;
    width: 100px;
    border: 3px solid #e5e7eb;
}
.cta-btn a{
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    }

.cta-btn:hover{
    background-color: #316dcc;
    cursor:grabbing;
}

/*********************************************************/
/*********************FOOTER SECTION*********************/
/*******************************************************/
#footer{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px 10% 50px;
    text-align: center;
}
